
/*==== HELPER COLORS FO LAYOUT
.mark1 {
  background-color: hsla(0,100%,50%,.5);
}
.mark2 {
  background-color: hsla(50,100%,50%,.5);
}
.mark3 {
  background-color: hsla(100,100%,50%,.5);
}
.mark4 {
  background-color: hsla(150,100%,50%,.5);
}
.mark5 {
  background-color: hsla(200,100%,50%,.5);
}
.mark6 {
  background-color: hsla(250,100%,50%,.5);
}
.mark7 {
  background-color: hsla(300,100%,50%,.5);
}
.mark8 {
  background-color: hsla(330,20%,50%,.5);
}
.mark9 {
  background-color: hsla(0,100%,0%,.5);
}
.mark10 {
  background-color: hsla(50,100%,80%,.5);
}
.mark11 {
  background-color: hsla(100,100%,80%,.5);
}
.mark12 {
  background-color: hsla(150,100%,80%,.5);
}
.mark13 {
  background-color: hsla(200,100%,80%,.5);
} ====*/

* {
  box-sizing: border-box;  
}

body {
  background: url('assets/h%C3%A1tt%C3%A9rk%C3%A9p2.jpg') no-repeat center center fixed;
  background-size: cover;
  
}

.profile-card {
  font-family: 'Quattrocento', serif;
  
}

/*==== COLORS ====*/

 .profile-card {
  background-color: hsla(0,0%,0%,.6);
}

h1, h2, h3, p {
  color: aliceblue;
}

.icon {
  color: burlywood;
}

/*=== FONT-SIZES ETC. ===*/

h1 {
  font-size: 2.5rem;
  font-family: 'Oswald', sans-serif;
}

h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
}

h3 {
  font-size:1rem;
  font-weight: 500;
}

p {
  font-size: 1.4rem;
}

/*==== lAYOUT ====*/

.profile-card {
  height: 320%;
  width: 100%;
  position:absolute;
}

.lang-selector {
  width: 100%;
  height: 10vh;
  position:absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.items {
  width: 100%;
  height: 30vh;  
  position:absolute;
  top: 10vh;
}

.portrait {
  width: 100%;
  height: 40vh;
  position:absolute;
  top: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.photo {
  max-height:90%;
  border-radius: 2vw;
  border-style: double ;
  border-width: medium;
  border-color: ivory;
}

.visit-me {
  width: 100%;
  height: 20vh;
  position:absolute;
  padding-bottom: 5vh;
  top: 80vh;
  margin-bottom: 10vh;
}



.jdi {
  position:absolute;
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
 
}

.social {
  position:absolute;
  top: 50%;
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}


.name {
  position: absolute;
  width: 100%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.prof {
  position: absolute;
  width: 100%;
  height: 15%;
  text: align: center;
  top: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home {
  position: absolute;
  width: 100%;
  height: 15%;
  text-align: center;
  top: 55%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.phone {
  position: absolute;
  width: 100%;
  height: 15%;
  text-align: center;
  top: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mail {
  position: absolute;
  width:100%;
  height: 15%;
  text-align: center;
  top: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  text-decoration: none;
}

.about-me {
  position: absolute;
  width:100%;
  height:100vh;
  top: 100vh;
  margin-bottom: 10vh;
}

.am1 {
  position: absolute;
  width:100%;
  height: 50%;
}

.am2 {
  position: absolute;
  width:100%;
  height: 50%;
  top: 50%;
}

.am1t, .am2t {
  position: absolute;
  width:100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.am1p, .am2p {
  position: absolute;
  width:80%;
  height: 80%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10%;
  top: 10%;
  letter-spacing: 1px;
  font-weight: 200;
}

.images {
  position: absolute;
  width:100%;
  height: 100vh;
  top: 200vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.impic {
  height: 24vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2vw;
  border-style: double ;
  border-width: medium;
  border-color: ivory;
}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
  margin: 0 5vw;
}

/*==== VERTICAL RHYTHM ====*/

.about-me {
  top: 110vh;
}

.images {
  top: 220vh;
}

/*==== HOVER ====*/

.icon:hover {
  color:red;
  transition: all 0.2s ease-in-out;
}

.photo:hover, .impic:hover {
  transform: scale(1.5);
  transition: all 0.5s ease-in-out;
}

h3:hover {
  transform: scale(1.5);
  transition: all 0.5s ease-in-out;
}



/*==== MEDIA QUERY ====*/

@media only screen and (max-width: 370px) {
  
  p {
    font-size: 1rem;
  }
  }
@media only screen and (max-height: 370px) {
  
  p {
    font-size: 1rem;
  }
  }


@media only screen and (min-width: 565px) {
  
  .items {
    right: 0;
    width: 50%;
    height: 70vh;
  }
  
  .visit-me {
    right: 0;
    top: 80vh;
    height: 20vh;
    width: 50%;
    margin: 0;
  }
  
  .portrait {
    left: 0;
    top: 10vh;
    width: 50%;
    height: 90vh;
  }
}

@media only screen and (min-width: 900px) {
  .items {
    right: 30%;
    width: 40%;
    height: 40vh;
    padding-bottom: 10vh;
  }
  
  .home, .phone, .mail {
    height: 10%;
  }
  
  .home {
    top: 55%;
  }
  
  .phone {
    top: 65%;
  }
  
  .mail {
    top: 75%;
  }
    
  .visit-me {
    right: 0;
    top: 15vh;
    height: 15;
    width: 30%;
    margin: 0;
  }
  
  .portrait {
    left: 0;
    top: 10vh;
    width: 30%;
    height: 40vh;
  }
    
  .about-me {
    top: 50vh;
    width: 100%;
    height: 50vh;
    }
  
  .am1p, .am2p {
    
    width: 60%;
    height: 100%;
    margin: 0 20%;
    top: 0;
  }
  
  .images {
    top: 100vh;
  }

  
  .profile-card {
    height: 210%;
  }
  
  p {
    font-size: 1.5rem;
  }
  
  h1 {
    font-size: 3rem;
  }
  
  h2 {
    font-size: 2rem
  }
  
  h3 {
    font-size: 1.5rem;
  }
  
  li {
    margin: 0 2vw;
  }
  
  .li-img {
    margin: 3vh 10vw;   
}
}